

  <!-- ======= Home Section ======= -->
  <app-home></app-home>
<!-- End home -->


    <!-- ======= About Section ======= -->
    <app-about></app-about>
<!-- End About Section -->

 

    <!-- ======= Services Section ======= -->
    <app-services></app-services>
 <!-- End Services Section -->


    <!-- ======= Events Section ======= -->
    <app-events></app-events>
    <!-- End Events Section -->


    <!-- ======= Contact Section ======= -->
    <app-contact></app-contact>
<!-- End Contact Section -->



<app-register></app-register>



